In [7]:
import pandas as pd

In [ ]:
!curl -O "https://s3.amazonaws.com/tripdata/2019[05-12]-citibike-tripdata.csv.zip"
!unzip '*.zip'
!rm *.zip

In [77]:
files = !ls *.csv #For Ipython only
files

['201905-citibike-tripdata.csv',
 '201906-citibike-tripdata.csv',
 '201907-citibike-tripdata.csv',
 '201908-citibike-tripdata.csv',
 '201909-citibike-tripdata.csv',
 '201910-citibike-tripdata.csv',
 '201911-citibike-tripdata.csv',
 '201912-citibike-tripdata.csv',
 '202001-citibike-tripdata.csv',
 '202002-citibike-tripdata.csv',
 '202003-citibike-tripdata.csv',
 '202004-citibike-tripdata.csv',
 '202005-citibike-tripdata.csv']

In [78]:
df = pd.concat([pd.read_csv(f) for f in files], keys=files)

In [80]:
#Percentage of missing data.
def missing_data(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data
missing_data(df)

                         Total   Percent
end station name           143  0.000675
end station id             143  0.000675
start station name         143  0.000675
start station id           143  0.000675
gender                       0  0.000000
birth year                   0  0.000000
usertype                     0  0.000000
bikeid                       0  0.000000
end station longitude        0  0.000000
end station latitude         0  0.000000
start station longitude      0  0.000000
start station latitude       0  0.000000
stoptime                     0  0.000000
starttime                    0  0.000000
tripduration                 0  0.000000

In [83]:
df= df.dropna()
df

                                      tripduration                 starttime  \
201905-citibike-tripdata.csv 0                 139  2019-05-01 00:00:01.9010
                             1                 754  2019-05-01 00:00:03.0210
                             2                2308  2019-05-01 00:00:04.6270
                             3                 143  2019-05-01 00:00:19.3340
                             4                 138  2019-05-01 00:00:22.1840
...                                            ...                       ...
202005-citibike-tripdata.csv 1487885           981  2020-05-31 23:59:19.0310
                             1487886           367  2020-05-31 23:59:36.2270
                             1487887          1798  2020-05-31 23:59:37.7250
                             1487888           718  2020-05-31 23:59:47.7090
                             1487889          1168  2020-05-31 23:59:48.0660

                                                      stoptime  \
201905-citibike-tripdata.csv 0        2019-05-01 00:02:21.5170
                             1        2019-05-01 00:12:37.6920
                             2        2019-05-01 00:38:33.1710
                             3        2019-05-01 00:02:42.5200
                             4        2019-05-01 00:02:40.6480
...                                                        ...
202005-citibike-tripdata.csv 1487885  2020-06-01 00:15:40.5590
                             1487886  2020-06-01 00:05:43.6200
                             1487887  2020-06-01 00:29:36.6800
                             1487888  2020-06-01 00:11:46.5210
                             1487889  2020-06-01 00:19:16.4730

                                      start station id  \
201905-citibike-tripdata.csv 0                   447.0
                             1                  3258.0
                             2                  3093.0
                             3                  3486.0
                             4                   388.0
...                                                ...
202005-citibike-tripdata.csv 1487885             313.0
                             1487886             545.0
                             1487887             450.0
                             1487888            3691.0
                             1487889             467.0

                                             start station name  \
201905-citibike-tripdata.csv 0                  8 Ave & W 52 St
                             1                 W 27 St & 10 Ave
                             2             N 6 St & Bedford Ave
                             3        Schermerhorn St & Bond St
                             4                 W 26 St & 10 Ave
...                                                         ...
202005-citibike-tripdata.csv 1487885  Washington Ave & Park Ave
                             1487886            E 23 St & 1 Ave
                             1487887            W 49 St & 8 Ave
                             1487888             28 Ave & 44 St
                             1487889            Dean St & 4 Ave

                                      start station latitude  \
201905-citibike-tripdata.csv 0                     40.763707
                             1                     40.750182
                             2                     40.717452
                             3                     40.688417
                             4                     40.749718
...                                                      ...
202005-citibike-tripdata.csv 1487885               40.696102
                             1487886               40.736502
                             1487887               40.762272
                             1487888               40.764089
                             1487889               40.683125

                                      start station longitude  end station id  \
201905-citibike-tripdata.csv 0                     -73.985162           423.0
                             1                     -74.002184          3255.0
                             2                     -73.958509          3676.0
                             3                     -73.984517          3412.0
                             4                     -74.002950           494.0
...                                                       ...             ...
202005-citibike-tripdata.csv 1487885               -73.967510           217.0
                             1487886               -73.978095           501.0
                             1487887               -73.987882           485.0
                             1487888               -73.910651          3691.0
                             1487889               -73.978951           239.0

                                                end station name  \
201905-citibike-tripdata.csv 0                   W 54 St & 9 Ave
                             1                   8 Ave & W 31 St
                             2        Van Brunt St & Van Dyke St
                             3            Pacific St & Nevins St
                             4                   W 26 St & 8 Ave
...                                                          ...
202005-citibike-tripdata.csv 1487885               Old Fulton St
                             1487886         FDR Drive & E 35 St
                             1487887             W 37 St & 5 Ave
                             1487888              28 Ave & 44 St
                             1487889    Willoughby St & Fleet St

                                      end station latitude  \
201905-citibike-tripdata.csv 0                   40.765849
                             1                   40.750585
                             2                   40.675833
                             3                   40.685376
                             4                   40.747348
...                                                    ...
202005-citibike-tripdata.csv 1487885             40.702772
                             1487886             40.744219
                             1487887             40.750380
                             1487888             40.764089
                             1487889             40.691966

                                      end station longitude  bikeid  \
201905-citibike-tripdata.csv 0                   -73.986905   31170
                             1                   -73.994685   25560
                             2                   -74.014726   33369
                             3                   -73.983021   32041
                             4                   -73.997236   35237
...                                                     ...     ...
202005-citibike-tripdata.csv 1487885             -73.993836   43706
                             1487886             -73.971212   41321
                             1487887             -73.983390   37418
                             1487888             -73.910651   41190
                             1487889             -73.981302   33450

                                        usertype  birth year  gender
201905-citibike-tripdata.csv 0        Subscriber        1983       1
                             1          Customer        1969       0
                             2        Subscriber        1978       1
                             3        Subscriber        1997       1
                             4        Subscriber        1967       1
...                                          ...         ...     ...
202005-citibike-tripdata.csv 1487885  Subscriber        1972       2
                             1487886  Subscriber        1994       2
                             1487887  Subscriber        1998       1
                             1487888    Customer        1969       0
                             1487889    Customer        2000       1

[21173004 rows x 15 columns]

In [84]:
mydict = {'tripduration':'Trip Duration',
          'starttime':'Start Date', 
          'stoptime': 'End Date', 
          'start station id': 'Start Station ID',
          'start station name': 'Start Station Name', 
          'start station latitude': 'Start Station Latitude',
          'start station longitude': 'Start Station Longitude', 
          'end station id': 'End Station ID', 
          'end station name': 'End Station Name',
          'end station latitude': 'End Station Latitude', 
          'end station longitude': 'End Station Longitude', 
          'bikeid': 'Bike ID', 'usertype':'User Type',
          'birth year': 'Birth Year', 
          'gender':'Gender'}

In [85]:
df = df.rename(columns=mydict)
df

                                      Trip Duration                Start Date  \
201905-citibike-tripdata.csv 0                  139  2019-05-01 00:00:01.9010
                             1                  754  2019-05-01 00:00:03.0210
                             2                 2308  2019-05-01 00:00:04.6270
                             3                  143  2019-05-01 00:00:19.3340
                             4                  138  2019-05-01 00:00:22.1840
...                                             ...                       ...
202005-citibike-tripdata.csv 1487885            981  2020-05-31 23:59:19.0310
                             1487886            367  2020-05-31 23:59:36.2270
                             1487887           1798  2020-05-31 23:59:37.7250
                             1487888            718  2020-05-31 23:59:47.7090
                             1487889           1168  2020-05-31 23:59:48.0660

                                                      End Date  \
201905-citibike-tripdata.csv 0        2019-05-01 00:02:21.5170
                             1        2019-05-01 00:12:37.6920
                             2        2019-05-01 00:38:33.1710
                             3        2019-05-01 00:02:42.5200
                             4        2019-05-01 00:02:40.6480
...                                                        ...
202005-citibike-tripdata.csv 1487885  2020-06-01 00:15:40.5590
                             1487886  2020-06-01 00:05:43.6200
                             1487887  2020-06-01 00:29:36.6800
                             1487888  2020-06-01 00:11:46.5210
                             1487889  2020-06-01 00:19:16.4730

                                      Start Station ID  \
201905-citibike-tripdata.csv 0                   447.0
                             1                  3258.0
                             2                  3093.0
                             3                  3486.0
                             4                   388.0
...                                                ...
202005-citibike-tripdata.csv 1487885             313.0
                             1487886             545.0
                             1487887             450.0
                             1487888            3691.0
                             1487889             467.0

                                             Start Station Name  \
201905-citibike-tripdata.csv 0                  8 Ave & W 52 St
                             1                 W 27 St & 10 Ave
                             2             N 6 St & Bedford Ave
                             3        Schermerhorn St & Bond St
                             4                 W 26 St & 10 Ave
...                                                         ...
202005-citibike-tripdata.csv 1487885  Washington Ave & Park Ave
                             1487886            E 23 St & 1 Ave
                             1487887            W 49 St & 8 Ave
                             1487888             28 Ave & 44 St
                             1487889            Dean St & 4 Ave

                                      Start Station Latitude  \
201905-citibike-tripdata.csv 0                     40.763707
                             1                     40.750182
                             2                     40.717452
                             3                     40.688417
                             4                     40.749718
...                                                      ...
202005-citibike-tripdata.csv 1487885               40.696102
                             1487886               40.736502
                             1487887               40.762272
                             1487888               40.764089
                             1487889               40.683125

                                      Start Station Longitude  End Station ID  \
201905-citibike-tripdata.csv 0                     -73.985162           423.0
                             1                     -74.002184          3255.0
                             2                     -73.958509          3676.0
                             3                     -73.984517          3412.0
                             4                     -74.002950           494.0
...                                                       ...             ...
202005-citibike-tripdata.csv 1487885               -73.967510           217.0
                             1487886               -73.978095           501.0
                             1487887               -73.987882           485.0
                             1487888               -73.910651          3691.0
                             1487889               -73.978951           239.0

                                                End Station Name  \
201905-citibike-tripdata.csv 0                   W 54 St & 9 Ave
                             1                   8 Ave & W 31 St
                             2        Van Brunt St & Van Dyke St
                             3            Pacific St & Nevins St
                             4                   W 26 St & 8 Ave
...                                                          ...
202005-citibike-tripdata.csv 1487885               Old Fulton St
                             1487886         FDR Drive & E 35 St
                             1487887             W 37 St & 5 Ave
                             1487888              28 Ave & 44 St
                             1487889    Willoughby St & Fleet St

                                      End Station Latitude  \
201905-citibike-tripdata.csv 0                   40.765849
                             1                   40.750585
                             2                   40.675833
                             3                   40.685376
                             4                   40.747348
...                                                    ...
202005-citibike-tripdata.csv 1487885             40.702772
                             1487886             40.744219
                             1487887             40.750380
                             1487888             40.764089
                             1487889             40.691966

                                      End Station Longitude  Bike ID  \
201905-citibike-tripdata.csv 0                   -73.986905    31170
                             1                   -73.994685    25560
                             2                   -74.014726    33369
                             3                   -73.983021    32041
                             4                   -73.997236    35237
...                                                     ...      ...
202005-citibike-tripdata.csv 1487885             -73.993836    43706
                             1487886             -73.971212    41321
                             1487887             -73.983390    37418
                             1487888             -73.910651    41190
                             1487889             -73.981302    33450

                                       User Type  Birth Year  Gender
201905-citibike-tripdata.csv 0        Subscriber        1983       1
                             1          Customer        1969       0
                             2        Subscriber        1978       1
                             3        Subscriber        1997       1
                             4        Subscriber        1967       1
...                                          ...         ...     ...
202005-citibike-tripdata.csv 1487885  Subscriber        1972       2
                             1487886  Subscriber        1994       2
                             1487887  Subscriber        1998       1
                             1487888    Customer        1969       0
                             1487889    Customer        2000       1

[21173004 rows x 15 columns]

In [86]:
df.loc[df.Gender == 0, 'Gender'] = 'Unknown'
df.loc[df.Gender == 1, 'Gender'] = 'Male'
df.loc[df.Gender == 2, 'Gender'] = 'Female'
df = df.drop(df.index[(df['Birth Year'] < 1950)])
df['Age'] = 2020-df['Birth Year']

df['Trip Duration'] = df['Trip Duration'].div(60)

df['Free'] = False
df['Free'] = df.loc[df['Trip Duration'] <= 30, 'Free'] = True

df['Number of Records'] = 1

df = df.drop(df.index[(df['Trip Duration'] < 1.5) & 
                          (df['Start Station Latitude'] == df['End Station Latitude'])])
df = df.drop(df.index[(df['Trip Duration'] > 120)])

df = df.dropna()

In [87]:
df

                                      Trip Duration                Start Date  \
201905-citibike-tripdata.csv 0             2.316667  2019-05-01 00:00:01.9010
                             1            12.566667  2019-05-01 00:00:03.0210
                             2            38.466667  2019-05-01 00:00:04.6270
                             3             2.383333  2019-05-01 00:00:19.3340
                             4             2.300000  2019-05-01 00:00:22.1840
...                                             ...                       ...
202005-citibike-tripdata.csv 1487885      16.350000  2020-05-31 23:59:19.0310
                             1487886       6.116667  2020-05-31 23:59:36.2270
                             1487887      29.966667  2020-05-31 23:59:37.7250
                             1487888      11.966667  2020-05-31 23:59:47.7090
                             1487889      19.466667  2020-05-31 23:59:48.0660

                                                      End Date  \
201905-citibike-tripdata.csv 0        2019-05-01 00:02:21.5170
                             1        2019-05-01 00:12:37.6920
                             2        2019-05-01 00:38:33.1710
                             3        2019-05-01 00:02:42.5200
                             4        2019-05-01 00:02:40.6480
...                                                        ...
202005-citibike-tripdata.csv 1487885  2020-06-01 00:15:40.5590
                             1487886  2020-06-01 00:05:43.6200
                             1487887  2020-06-01 00:29:36.6800
                             1487888  2020-06-01 00:11:46.5210
                             1487889  2020-06-01 00:19:16.4730

                                      Start Station ID  \
201905-citibike-tripdata.csv 0                   447.0
                             1                  3258.0
                             2                  3093.0
                             3                  3486.0
                             4                   388.0
...                                                ...
202005-citibike-tripdata.csv 1487885             313.0
                             1487886             545.0
                             1487887             450.0
                             1487888            3691.0
                             1487889             467.0

                                             Start Station Name  \
201905-citibike-tripdata.csv 0                  8 Ave & W 52 St
                             1                 W 27 St & 10 Ave
                             2             N 6 St & Bedford Ave
                             3        Schermerhorn St & Bond St
                             4                 W 26 St & 10 Ave
...                                                         ...
202005-citibike-tripdata.csv 1487885  Washington Ave & Park Ave
                             1487886            E 23 St & 1 Ave
                             1487887            W 49 St & 8 Ave
                             1487888             28 Ave & 44 St
                             1487889            Dean St & 4 Ave

                                      Start Station Latitude  \
201905-citibike-tripdata.csv 0                     40.763707
                             1                     40.750182
                             2                     40.717452
                             3                     40.688417
                             4                     40.749718
...                                                      ...
202005-citibike-tripdata.csv 1487885               40.696102
                             1487886               40.736502
                             1487887               40.762272
                             1487888               40.764089
                             1487889               40.683125

                                      Start Station Longitude  End Station ID  \
201905-citibike-tripdata.csv 0                     -73.985162           423.0
                             1                     -74.002184          3255.0
                             2                     -73.958509          3676.0
                             3                     -73.984517          3412.0
                             4                     -74.002950           494.0
...                                                       ...             ...
202005-citibike-tripdata.csv 1487885               -73.967510           217.0
                             1487886               -73.978095           501.0
                             1487887               -73.987882           485.0
                             1487888               -73.910651          3691.0
                             1487889               -73.978951           239.0

                                                End Station Name  \
201905-citibike-tripdata.csv 0                   W 54 St & 9 Ave
                             1                   8 Ave & W 31 St
                             2        Van Brunt St & Van Dyke St
                             3            Pacific St & Nevins St
                             4                   W 26 St & 8 Ave
...                                                          ...
202005-citibike-tripdata.csv 1487885               Old Fulton St
                             1487886         FDR Drive & E 35 St
                             1487887             W 37 St & 5 Ave
                             1487888              28 Ave & 44 St
                             1487889    Willoughby St & Fleet St

                                      End Station Latitude  \
201905-citibike-tripdata.csv 0                   40.765849
                             1                   40.750585
                             2                   40.675833
                             3                   40.685376
                             4                   40.747348
...                                                    ...
202005-citibike-tripdata.csv 1487885             40.702772
                             1487886             40.744219
                             1487887             40.750380
                             1487888             40.764089
                             1487889             40.691966

                                      End Station Longitude  Bike ID  \
201905-citibike-tripdata.csv 0                   -73.986905    31170
                             1                   -73.994685    25560
                             2                   -74.014726    33369
                             3                   -73.983021    32041
                             4                   -73.997236    35237
...                                                     ...      ...
202005-citibike-tripdata.csv 1487885             -73.993836    43706
                             1487886             -73.971212    41321
                             1487887             -73.983390    37418
                             1487888             -73.910651    41190
                             1487889             -73.981302    33450

                                       User Type  Birth Year   Gender  Age  \
201905-citibike-tripdata.csv 0        Subscriber        1983     Male   37
                             1          Customer        1969  Unknown   51
                             2        Subscriber        1978     Male   42
                             3        Subscriber        1997     Male   23
                             4        Subscriber        1967     Male   53
...                                          ...         ...      ...  ...
202005-citibike-tripdata.csv 1487885  Subscriber        1972   Female   48
                             1487886  Subscriber        1994   Female   26
                             1487887  Subscriber        1998     Male   22
                             1487888    Customer        1969  Unknown   51
                             1487889    Customer        2000     Male   20

                                      Free  Number of Records
201905-citibike-tripdata.csv 0        True                  1
                             1        True                  1
                             2        True                  1
                             3        True                  1
                             4        True                  1
...                                    ...                ...
202005-citibike-tripdata.csv 1487885  True                  1
                             1487886  True                  1
                             1487887  True                  1
                             1487888  True                  1
                             1487889  True                  1

[20884381 rows x 18 columns]

In [29]:
# #Percentage of missing data.
# def missing_data(df):
#     total = df.isnull().sum().sort_values(ascending=False)
#     percent = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending=False)
#     missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
#     return missing_data
# missing_data(df)

                         Total  Percent
Number of Records            0      0.0
Free                         0      0.0
Start Date                   0      0.0
End Date                     0      0.0
Start Station ID             0      0.0
Start Station Name           0      0.0
Start Station Latitude       0      0.0
Start Station Longitude      0      0.0
End Station ID               0      0.0
End Station Name             0      0.0
End Station Latitude         0      0.0
End Station Longitude        0      0.0
Bike ID                      0      0.0
User Type                    0      0.0
Birth Year                   0      0.0
Gender                       0      0.0
Age                          0      0.0
Trip Duration                0      0.0

In [34]:
df.columns

Index(['Trip Duration', 'Start Date', 'End Date', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender', 'Age', 'Free', 'Number of Records'],
      dtype='object')

In [91]:
df = df.sample(10000000, replace=True, random_state = 1)

In [90]:
onemillion = df

In [96]:
fivemillion = df.sample(5000000, replace=True, random_state = 1)

In [98]:
fivemillion

                                      Trip Duration                Start Date  \
201908-citibike-tripdata.csv 1456777       2.550000  2019-08-20 06:24:51.2050
201905-citibike-tripdata.csv 343092        7.466667  2019-05-07 08:10:40.7380
201907-citibike-tripdata.csv 1885967      32.983333  2019-07-27 22:44:43.1560
202004-citibike-tripdata.csv 462991        6.200000  2020-04-21 19:35:17.8610
202002-citibike-tripdata.csv 894453        5.600000  2020-02-24 07:42:34.2450
...                                             ...                       ...
                             945755       19.266667  2020-02-24 23:24:07.9140
201909-citibike-tripdata.csv 993334       17.066667  2019-09-14 09:15:52.7730
201906-citibike-tripdata.csv 818836        5.916667  2019-06-12 06:54:25.7630
                             1364724       7.716667  2019-06-20 15:39:21.5150
202005-citibike-tripdata.csv 631841       17.866667  2020-05-16 16:33:28.5010

                                                      End Date  \
201908-citibike-tripdata.csv 1456777  2019-08-20 06:27:24.2450
201905-citibike-tripdata.csv 343092   2019-05-07 08:18:09.6730
201907-citibike-tripdata.csv 1885967  2019-07-27 23:17:43.0250
202004-citibike-tripdata.csv 462991   2020-04-21 19:41:30.5840
202002-citibike-tripdata.csv 894453   2020-02-24 07:48:10.7140
...                                                        ...
                             945755   2020-02-24 23:43:24.2760
201909-citibike-tripdata.csv 993334   2019-09-14 09:32:57.6780
201906-citibike-tripdata.csv 818836   2019-06-12 07:00:21.6710
                             1364724  2019-06-20 15:47:05.0030
202005-citibike-tripdata.csv 631841   2020-05-16 16:51:20.9700

                                      Start Station ID  \
201908-citibike-tripdata.csv 1456777             241.0
201905-citibike-tripdata.csv 343092              307.0
201907-citibike-tripdata.csv 1885967             257.0
202004-citibike-tripdata.csv 462991              250.0
202002-citibike-tripdata.csv 894453             3711.0
...                                                ...
                             945755              497.0
201909-citibike-tripdata.csv 993334              293.0
201906-citibike-tripdata.csv 818836              383.0
                             1364724            3164.0
202005-citibike-tripdata.csv 631841             3687.0

                                               Start Station Name  \
201908-citibike-tripdata.csv 1456777  DeKalb Ave & S Portland Ave
201905-citibike-tripdata.csv 343092         Canal St & Rutgers St
201907-citibike-tripdata.csv 1885967      Lispenard St & Broadway
202004-citibike-tripdata.csv 462991      Lafayette St & Jersey St
202002-citibike-tripdata.csv 894453            E 13 St & Avenue A
...                                                           ...
                             945755            E 17 St & Broadway
201909-citibike-tripdata.csv 993334         Lafayette St & E 8 St
201906-citibike-tripdata.csv 818836    Greenwich Ave & Charles St
                             1364724       Columbus Ave & W 72 St
202005-citibike-tripdata.csv 631841               E 33 St & 1 Ave

                                      Start Station Latitude  \
201908-citibike-tripdata.csv 1456777               40.689810
201905-citibike-tripdata.csv 343092                40.714275
201907-citibike-tripdata.csv 1885967               40.719392
202004-citibike-tripdata.csv 462991                40.724561
202002-citibike-tripdata.csv 894453                40.729667
...                                                      ...
                             945755                40.737050
201909-citibike-tripdata.csv 993334                40.730207
201906-citibike-tripdata.csv 818836                40.735238
                             1364724               40.777057
202005-citibike-tripdata.csv 631841                40.743227

                                      Start Station Longitude  End Station ID  \
201908-citibike-tripdata.csv 1456777               -73.974931           324.0
201905-citibike-tripdata.csv 343092                -73.989900           417.0
201907-citibike-tripdata.csv 1885967               -74.002472           260.0
202004-citibike-tripdata.csv 462991                -73.995653           285.0
202002-citibike-tripdata.csv 894453                -73.980680           301.0
...                                                       ...             ...
                             945755                -73.990093           499.0
201909-citibike-tripdata.csv 993334                -73.991026           341.0
201906-citibike-tripdata.csv 818836                -74.000271           293.0
                             1364724               -73.978985          3285.0
202005-citibike-tripdata.csv 631841                -73.974498           479.0

                                             End Station Name  \
201908-citibike-tripdata.csv 1456777  DeKalb Ave & Hudson Ave
201905-citibike-tripdata.csv 343092    Barclay St & Church St
201907-citibike-tripdata.csv 1885967     Broad St & Bridge St
202004-citibike-tripdata.csv 462991        Broadway & E 14 St
202002-citibike-tripdata.csv 894453         E 2 St & Avenue B
...                                                       ...
                             945755        Broadway & W 60 St
201909-citibike-tripdata.csv 993334    Stanton St & Mangin St
201906-citibike-tripdata.csv 818836     Lafayette St & E 8 St
                             1364724  W 87 St & Amsterdam Ave
202005-citibike-tripdata.csv 631841           9 Ave & W 45 St

                                      End Station Latitude  \
201908-citibike-tripdata.csv 1456777             40.689888
201905-citibike-tripdata.csv 343092              40.712912
201907-citibike-tripdata.csv 1885967             40.703652
202004-citibike-tripdata.csv 462991              40.734546
202002-citibike-tripdata.csv 894453              40.722174
...                                                    ...
                             945755              40.769155
201909-citibike-tripdata.csv 993334              40.717821
201906-citibike-tripdata.csv 818836              40.730207
                             1364724             40.788390
202005-citibike-tripdata.csv 631841              40.760193

                                      End Station Longitude  Bike ID  \
201908-citibike-tripdata.csv 1456777             -73.981013    32087
201905-citibike-tripdata.csv 343092              -74.010202    25179
201907-citibike-tripdata.csv 1885967             -74.011678    32249
202004-citibike-tripdata.csv 462991              -73.990741    39454
202002-citibike-tripdata.csv 894453              -73.983688    32046
...                                                     ...      ...
                             945755              -73.981918    40343
201909-citibike-tripdata.csv 993334              -73.976289    39879
201906-citibike-tripdata.csv 818836              -73.991026    32231
                             1364724             -73.974700    30487
202005-citibike-tripdata.csv 631841              -73.991255    40612

                                       User Type  Birth Year   Gender  Age  \
201908-citibike-tripdata.csv 1456777  Subscriber        1972     Male   48
201905-citibike-tripdata.csv 343092   Subscriber        1993     Male   27
201907-citibike-tripdata.csv 1885967    Customer        2001     Male   19
202004-citibike-tripdata.csv 462991   Subscriber        1983     Male   37
202002-citibike-tripdata.csv 894453   Subscriber        1992   Female   28
...                                          ...         ...      ...  ...
                             945755   Subscriber        1967     Male   53
201909-citibike-tripdata.csv 993334   Subscriber        1985     Male   35
201906-citibike-tripdata.csv 818836   Subscriber        1990     Male   30
                             1364724  Subscriber        1993     Male   27
202005-citibike-tripdata.csv 631841     Customer        1969  Unknown   51

                                      Free  Number of Records
201908-citibike-tripdata.csv 1456777  True                  1
201905-citibike-tripdata.csv 343092   True                  1
201907-citibike-tripdata.csv 1885967  True                  1
202004-citibike-tripdata.csv 462991   True                  1
202002-citibike-tripdata.csv 894453   True                  1
...                                    ...                ...
                             945755   True                  1
201909-citibike-tripdata.csv 993334   True                  1
201906-citibike-tripdata.csv 818836   True                  1
                             1364724  True                  1
202005-citibike-tripdata.csv 631841   True                  1

[5000000 rows x 18 columns]

In [ ]:
onemillion.to_csv('cleaned_citibike_1M')   #this worked but went for 5M

In [99]:
fivemillion.to_csv('cleaned_citibike_5M')

In [73]:
df.head()

                                Trip Duration                Start Date  \
202001-citibike-tripdata.csv 0      13.150000  2020-01-01 00:00:55.3900
                             1      25.683333  2020-01-01 00:01:08.1020
                             2      24.400000  2020-01-01 00:01:42.1400
                             3       9.866667  2020-01-01 00:01:45.5610
                             4      11.700000  2020-01-01 00:01:45.7880

                                                End Date  Start Station ID  \
202001-citibike-tripdata.csv 0  2020-01-01 00:14:05.1470               504
                             1  2020-01-01 00:26:49.1780              3423
                             2  2020-01-01 00:26:07.0110              3687
                             3  2020-01-01 00:11:38.1550               346
                             4  2020-01-01 00:13:28.2400               372

                                             Start Station Name  \
202001-citibike-tripdata.csv 0                  1 Ave & E 16 St
                             1  West Drive & Prospect Park West
                             2                  E 33 St & 1 Ave
                             3              Bank St & Hudson St
                             4        Franklin Ave & Myrtle Ave

                                Start Station Latitude  \
202001-citibike-tripdata.csv 0               40.732219
                             1               40.661063
                             2               40.743227
                             3               40.736529
                             4               40.694546

                                Start Station Longitude  End Station ID  \
202001-citibike-tripdata.csv 0               -73.981656             307
                             1               -73.979453            3300
                             2               -73.974498             259
                             3               -74.006180             490
                             4               -73.958014            3637

                                         End Station Name  \
202001-citibike-tripdata.csv 0      Canal St & Rutgers St
                             1  Prospect Park West & 8 St
                             2    South St & Whitehall St
                             3            8 Ave & W 33 St
                             4    Fulton St & Waverly Ave

                                End Station Latitude  End Station Longitude  \
202001-citibike-tripdata.csv 0             40.714275             -73.989900
                             1             40.665147             -73.976376
                             2             40.701221             -74.012342
                             3             40.751551             -73.993934
                             4             40.683239             -73.965996

                                Bike ID   User Type  Birth Year Gender  Age  \
202001-citibike-tripdata.csv 0    30326  Subscriber        1992   Male   28
                             1    17105    Customer        1969   Male   51
                             2    40177  Subscriber        1963   Male   57
                             3    27690  Subscriber        1980   Male   40
                             4    32583  Subscriber        1982   Male   38

                                Free  Number of Records
202001-citibike-tripdata.csv 0  True                  1
                             1  True                  1
                             2  True                  1
                             3  True                  1
                             4  True                  1

In [62]:
#bikes_df = df.groupby(['Bike ID']).size().reset_index(name = 'Number of Trips')

In [72]:
bikes_df = df.sort_values(by = ['Bike ID'], ascending = True)
bikes_df

                                      Trip Duration                Start Date  \
202005-citibike-tripdata.csv 144665       54.733333  2020-05-03 17:42:48.3060
202001-citibike-tripdata.csv 634118        5.366667  2020-01-16 08:06:17.0690
202005-citibike-tripdata.csv 654091       28.150000  2020-05-16 19:36:42.6340
202001-citibike-tripdata.csv 619920        5.933333  2020-01-15 19:20:52.6010
202003-citibike-tripdata.csv 703303        6.516667  2020-03-14 18:30:10.5920
...                                             ...                       ...
202005-citibike-tripdata.csv 1457229      18.066667  2020-05-31 16:44:11.9690
                             1424065      82.300000  2020-05-31 12:25:37.2510
                             1418818       2.150000  2020-05-31 11:21:55.7420
                             1463629      37.166667  2020-05-31 17:31:16.6680
                             1420381       2.200000  2020-05-31 11:43:20.0250

                                                      End Date  \
202005-citibike-tripdata.csv 144665   2020-05-03 18:37:32.5180
202001-citibike-tripdata.csv 634118   2020-01-16 08:11:40.0650
202005-citibike-tripdata.csv 654091   2020-05-16 20:04:52.1090
202001-citibike-tripdata.csv 619920   2020-01-15 19:26:48.6980
202003-citibike-tripdata.csv 703303   2020-03-14 18:36:42.1960
...                                                        ...
202005-citibike-tripdata.csv 1457229  2020-05-31 17:02:16.9170
                             1424065  2020-05-31 13:47:55.3030
                             1418818  2020-05-31 11:24:05.5850
                             1463629  2020-05-31 18:08:27.0340
                             1420381  2020-05-31 11:45:32.2960

                                      Start Station ID  \
202005-citibike-tripdata.csv 144665                293
202001-citibike-tripdata.csv 634118               3648
202005-citibike-tripdata.csv 654091               3637
202001-citibike-tripdata.csv 619920               3804
202003-citibike-tripdata.csv 703303               3076
...                                                ...
202005-citibike-tripdata.csv 1457229               476
                             1424065              3160
                             1418818               494
                             1463629              3166
                             1420381               446

                                                 Start Station Name  \
202005-citibike-tripdata.csv 144665           Lafayette St & E 8 St
202001-citibike-tripdata.csv 634118   Flushing Ave & Vanderbilt Ave
202005-citibike-tripdata.csv 654091         Fulton St & Waverly Ave
202001-citibike-tripdata.csv 619920               Front St & Jay St
202003-citibike-tripdata.csv 703303      Scholes St & Manhattan Ave
...                                                             ...
202005-citibike-tripdata.csv 1457229                E 31 St & 3 Ave
                             1424065    Central Park West & W 76 St
                             1418818                W 26 St & 8 Ave
                             1463629         Riverside Dr & W 72 St
                             1420381                W 24 St & 7 Ave

                                      Start Station Latitude  \
202005-citibike-tripdata.csv 144665                40.730207
202001-citibike-tripdata.csv 634118                40.697950
202005-citibike-tripdata.csv 654091                40.683239
202001-citibike-tripdata.csv 619920                40.702461
202003-citibike-tripdata.csv 703303                40.708704
...                                                      ...
202005-citibike-tripdata.csv 1457229               40.743943
                             1424065               40.778968
                             1418818               40.747348
                             1463629               40.780578
                             1420381               40.744876

                                      Start Station Longitude  End Station ID  \
202005-citibike-tripdata.csv 144665                -73.991026             385
202001-citibike-tripdata.csv 634118                -73.970776             418
202005-citibike-tripdata.csv 654091                -73.965996            3043
202001-citibike-tripdata.csv 619920                -73.986842            3648
202003-citibike-tripdata.csv 703303                -73.944862            3453
...                                                       ...             ...
202005-citibike-tripdata.csv 1457229               -73.979661             514
                             1424065               -73.973747            3167
                             1418818               -73.997236             446
                             1463629               -73.985624             408
                             1420381               -73.995299             494

                                                   End Station Name  \
202005-citibike-tripdata.csv 144665                 E 55 St & 2 Ave
202001-citibike-tripdata.csv 634118              Front St & Gold St
202005-citibike-tripdata.csv 654091          Lewis Ave & Decatur St
202001-citibike-tripdata.csv 619920   Flushing Ave & Vanderbilt Ave
202003-citibike-tripdata.csv 703303           Devoe St & Lorimer St
...                                                             ...
202005-citibike-tripdata.csv 1457229               12 Ave & W 40 St
                             1424065        Amsterdam Ave & W 73 St
                             1418818                W 24 St & 7 Ave
                             1463629          Market St & Cherry St
                             1420381                W 26 St & 8 Ave

                                      End Station Latitude  \
202005-citibike-tripdata.csv 144665              40.757973
202001-citibike-tripdata.csv 634118              40.702240
202005-citibike-tripdata.csv 654091              40.681460
202001-citibike-tripdata.csv 619920              40.697950
202003-citibike-tripdata.csv 703303              40.713352
...                                                    ...
202005-citibike-tripdata.csv 1457229             40.760875
                             1424065             40.779668
                             1418818             40.744876
                             1463629             40.710762
                             1420381             40.747348

                                      End Station Longitude  Bike ID  \
202005-citibike-tripdata.csv 144665              -73.966033    14530
202001-citibike-tripdata.csv 634118              -73.982578    14530
202005-citibike-tripdata.csv 654091              -73.934903    14530
202001-citibike-tripdata.csv 619920              -73.970776    14530
202003-citibike-tripdata.csv 703303              -73.949103    14530
...                                                     ...      ...
202005-citibike-tripdata.csv 1457229             -74.002777    44057
                             1424065             -73.980930    44057
                             1418818             -73.995299    44057
                             1463629             -73.994004    44057
                             1420381             -73.997236    44057

                                       User Type  Birth Year   Gender  Age  \
202005-citibike-tripdata.csv 144665   Subscriber        1992   Female   28
202001-citibike-tripdata.csv 634118   Subscriber        1988     Male   32
202005-citibike-tripdata.csv 654091     Customer        1969  Unknown   51
202001-citibike-tripdata.csv 619920   Subscriber        1988     Male   32
202003-citibike-tripdata.csv 703303     Customer        1995   Female   25
...                                          ...         ...      ...  ...
202005-citibike-tripdata.csv 1457229  Subscriber        1992     Male   28
                             1424065  Subscriber        1991   Female   29
                             1418818  Subscriber        1953     Male   67
                             1463629  Subscriber        1989     Male   31
                             1420381  Subscriber        1953     Male   67

                                      Free  Number of Records
202005-citibike-tripdata.csv 144665   True                  1
202001-citibike-tripdata.csv 634118   True                  1
202005-citibike-tripdata.csv 654091   True                  1
202001-citibike-tripdata.csv 619920   True                  1
202003-citibike-tripdata.csv 703303   True                  1
...                                    ...                ...
202005-citibike-tripdata.csv 1457229  True                  1
                             1424065  True                  1
                             1418818  True                  1
                             1463629  True                  1
                             1420381  True                  1

[5532375 rows x 18 columns]

In [ ]:
df.to_csv('cleaned_'+n)